# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
*.log

